@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: MontserratBold;
    src: url(../fonts/ofont.ru_Montserrat.ttf);
}
@font-face {
    font-family: PTserif;
    src: url(../fonts/PTF55F.ttf);
}
*, *:before, *:after {
    box-sizing: inherit;
    font-family: Franklin Gothic Book;
}
html, body {
    box-sizing: border-box;
    height: 100%;
}
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
body,p,h1,h2,h3,ul,ol{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}
hr {
    color: rgb(180, 180, 180);
    background-color: rgb(214, 214, 214);
    border: 0px none;
    height: 1px; 
    clear: both;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    user-select: none;
    padding: 0px 15px;
}
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    /* -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
            box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15); */
  }
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #717171;
    z-index: 2;
}
.header_inner {
    height: 66px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.header_logo {
    font-family: Montserrat;
    color: #262626;
    font-size: 30px;
    position: relative;
    z-index: 3;
}
.header_logo:hover {
    color: #343434;
}
.menu_inner {
    display: flex;
    list-style: none;
    position: relative;
    z-index: 3;
}
.menu_inner li a{
    margin-right: 30px;
    color: #e0e0e0;
}
.menu_inner li a:hover{
    color: #f5f5f5;
}
@media (max-width:850px) {
    .menu_inner li a {
        font-size: 13px;
    }
}
@media (max-width:767px) {
    .container {
        max-width: none;
    }
    body.lock {
        overflow: hidden;
    }
    .header_inner {
        height: 50px;
    }
    .header_logo {
        font-size: 20px;
    }
    .header_burger {
        display: block;
        position: relative;
        height: 20px;
        width: 30px;
        position: relative;
        z-index: 3;
    }
    .header_burger span {
        position: absolute;
        background-color: #262626;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .header_burger:after,
    .header_burger:before {
        content: '';
        background-color: #262626;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header_burger:before {
        top: 0;
    }
    .header_burger:after {
        bottom: 0;
    }
    .header_burger.active span {
        transform: scale(0);
    }
    .header_burger.active:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header_menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(149, 149, 149);
        padding: 70px 30px 20px 30px;
        transition: all 0.7s ease 0s;
    }
    .header_menu.active {
        top: 0;
    }
    .menu_inner {
        display: block;
    }
    .menu_inner li {
        margin: 0 0 30px 0;
    }
    .menu_inner li a {
        font-size: 15px;
    }
}


.main {
    flex: 1 1 auto;
    margin: 0 auto;
    background-color: #e0e0e0;
    width: 100%;
    padding-top: 70px;
    padding-bottom: 100px;
}
.work_space {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 2s;
    opacity: 0;
}
.work_space_inner {
    display: flex;
}
.form_cover {
    background-color: rgb(247, 247, 247);
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    margin-top: 30px;
    /* margin-right: 40px; */
    height: 100%;
    padding: 20px;
}
.settings_main_title {
    text-align: center;
    font-family: Montserrat;
    color: #5b5b5b;
}
.top_ranges {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top_left, .top_right {
    padding: 20px;
}


.custom-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.custom-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.custom-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
    border-color: #b3d7ff;
}
.custom-checkbox:not(:disabled):active+label::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
}
.custom-checkbox:checked+label::before {
    border-color: #569ced;
    background-color: #78afed;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}


input[type=range]  {
    width: 150px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    overflow: hidden;
    height: 7px;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 7px;
    background-color: rgb(236, 236, 236);
}
input[type=range]::-webkit-slider-thumb {
    background: #919191;
    cursor: pointer;
    width: 15px;
    height: 15px;
    -webkit-appearance: none;
    margin-top: -4px;
    box-shadow: -200px 0 0 200px  #414141;
}
input[type=range]::-moz-range-track {
      height: 7px;
      background-color: rgb(210, 210, 210);
}
input[type=range]::-moz-range-thumb {
    background: #919191;
    cursor: pointer;
    height: 7px;
    border-radius:0px;
    box-shadow: -200px  0 0 200px  #414141;
    padding: 0px;
    margin: 0px;
}


.font_size_range {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    padding: 0 2px;
    color: #5b5b5b;
    margin-bottom: 25px;
}
.settings_title {
    margin-top: 15px;
    color: #5b5b5b;
}
.opacity {
    margin-bottom: 20px;
}
#font_color {
    border: none;
    height: 40px;
    width: 40px;
    margin-left: 10px;
}
.color {
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.color_title {
    color: #5b5b5b;
}
#color {
    border: none;
    height: 3em;
    width: 3em;
    margin-left: 10px;
}
.result_area {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top_btns, .bottom_btns {
    display: flex;
    justify-content: space-between;
  }
.slider_btn_top_left, .slider_btn_bottom_right, .slider_btn_top_right, .slider_btn_bottom_left {
    cursor: pointer;
    background-color: rgb(209, 209, 209);
    width: 20px;
    height: 20px;
    border: 1px rgb(194, 194, 194) solid;
    border-radius: 50%;
    position: relative;
    text-align: center;
    opacity: 0.2;
    /* transition: 0.2s; */
}

#result {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.1s ease 0s;
    /* border-radius: 10px;
    border-style: dashed;
    border-left: 1px groove;
    border-width: 2px 3px 4px 5px; */
} 
.top_border {
    position: relative;
    width: 50px;
    height: 20px;
    top: -10px;
    left: 5px;
}
.bottom_border {
    position: relative;
    width: 50px;
    height: 20px;
    top: 30px;
}
.left_border {
    position: relative;
    top: -35px;
    left: -10px;
    height: 50px;
    width: 20px;
}
.right_border {
    position: relative;
    top: -85px;
    right: -50px;
    height: 50px;
    width: 20px;
}
.cssCode_block textarea {
    resize: none;
    height: 80px;
    width: 300px;
    padding: 4px;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    color: #5b5b5b;
    outline: none;
	-moz-appearance: none;
}
.cssCode_title {
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: Montserrat;
    color: #5b5b5b;
}
@media (max-width:740px) {
    input[type=range]  {
        width: 200px;
    }
    .cssCode_block textarea {
        font-size: 10px;
        width: 200px;
    }
    .text_exmpl textarea {
        width: 200px;
    }
}
@media (max-width:500px) {
    .work_space {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .form_cover {
        margin-right: 0;
    }
    .result_area {
        margin-left: 0;
    }
    .slider_btn_top_left, .slider_btn_bottom_right, .slider_btn_top_right, .slider_btn_bottom_left {
        width: 30px;
        height: 30px;
    }
}


.footer {
    background-color: #717171;
}
.footer_inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rights {
    font-family: PTserif;
    color: #373737;
    font-size: 20px;
}
.footer_logo {
    font-family: Montserrat;
    color: #262626;
    font-size: 30px;
}
@media (max-width:767px) {
    .rights {
        font-size: 15px;
    }
    .footer_logo {
        font-size: 20px;
    }
    .footer_inner {
        height: 60px;
    }
}
@media (max-width:400px) {
    .rights {
        font-size: 12px;
    }
}

